<div class="row text-center">
	<div class="col-md-8 offset-2">
		<h1 class="text-info">PAGE NOT FOUND.</h1>
		<br />
		<a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">HomePage</a>
	</div>
	
</div>
